.forecast-container,
.forecast-container-3days,
.more-forecast-container,
.forecast-container-10days,
.almanac,
.astronomy,
.webcams,
.help-wrapper {
	border: 1px solid #ddd;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8b8b8b;
}




.almanac thead {
	background: #DDD;
	text-align: left;
}

.almanac thead th {
	padding: 5px 20px;
}


.record {
	color: #000;
}

.more-forecast-container  {
	width: 445px;
}

.forecast-container-10days {
	width: 335px;
	border-bottom: none;
}



.forecast-container-10days:last-child {
	border-bottom: 1px solid #ddd;
}
.forecast-container-10days .day {
	border-bottom: none;
	color: black;
	font-weight: bold;
	padding-bottom: 0px;
}

.forecast-container-10days .thumb img {
	width: 35px;
}

.forecast-container-10days .forecast-info {
	width: 285px;
	font-size: 11px;
}

.forecast-container {
	width: 200px;
}

.forecast-container-3days {
	border-right: none;
	width: 150px;
	float: left;
}

.forecast-container-3days:last-child {
	border-right: 1px solid #ddd;
}

.thumb {
	float: left;
	border: 1px solid #DDD;
}

.forecast-info {
	float: left;
	margin-left: 12px;
}

.day {
	font-size: 13px;
	margin-bottom: 7px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
}

.forecast-container-3days .day {
	font-weight: bold;
	color: #213F9A;
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	font-size: 11px;
}

.forecast-container-3days .thumb {
	margin-left: 10px;
}

.temperature {
	color: #000;
}

.forecast-container-3days .thumb img {
	width: 30px;
}

.location {
	font-weight: bold;
	color: #213F9A;
	margin-bottom: 5px;
}


.weather {
	font-weight: bold;
}



.more-forecast-header {
	background:#395aa9;
	padding: 5px;
	color: #fff;
	font-weight: bold;
}

.location-info {
	padding-bottom: 1px;
}

.forecast-content-inner {
	width: 100px;
	border: 1px solid #ddd;
	float: left;
	padding: 5px;
	min-height: 65px;
	border-left: none;
}

.forecast-first {
	border-left: 1px solid #ddd;
}

.forecast-title {
	margin-bottom: 5px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
}

.forecast-content-inner .thumb {
	float: left;
}
.forecast-content-inner .thumb img {
	width: 30px;
}

.forecast-weather {
	float: left;
	margin-left: 10px;
	font-weight: bold;
	color: #000;
	font-size: 14px;
}

.forecast-temp {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #92d361;
	margin-top: 10px;
}

.visibility {
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #52bbe2;
	margin-top: 10px;
}

.forecast-wind {
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

/**Astronomy**/
.astronomy {
	width: 170px;
}



.sunrise {
	margin-bottom: 4px;
}
.rise {
	padding: 0px 10px;
	background: #eec51d;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 10px;
}

.set {
	padding: 0px 10px;
	background: #f7921e;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 10px;
}

.astro-title {
	border-bottom: 1px solid #DDD;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.moon .astro-info img {
	width: 35px;
}

.astronomy .sun,
.astronomy .moon {
	float: left;
	width: 75px;
	margin-right: 10px;
}

/**Webcams**/
.webcams {
	width: 180px;
	min-height: 185px;
}

.slide-img {
	width: 175px;
}

.slide-nav {
	margin-bottom: 10px;
}

.slide-nav a {
	color: #000;
}

#slideshow a {
	text-decoration: none;
}
.location-webcam {
	text-align: center;
	margin-top: 10px;
	color: #8b8b8b;
}

.help-wrapper {
	font-size: 9px;
	margin: 0 auto;
	width: 600px;
}

pre {
		height: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        padding:15px;
        background: #fdffdd;
}


.error {
	background: #ffd9da;
	padding: 5px;
	border: 1px solid #a80004;
	color: #a80004;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clear:before, .clear:after,
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clear:after,
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clear,
.clearfix { zoom: 1; }